.gulp-sync
.sass-cache
node_modules
*.map
.idea

# содержимое следующих директорий будет сгенерировано из исходников
/img
/js
/css
/img-mob
/js-mob
/css-mob
/*.html

# файлы сгенерированных спрайтов
/src/styles/sprites/*

# psd
/psd
