<ul class="breadcrumbs" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a class="breadcrumbs__link" itemprop="item" href="#">
      <span class="breadcrumbs__text" itemprop="name">Главная</span>
    </a>
    <meta itemprop="position" content="1" />
  </li>

  <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <span class="breadcrumbs__link" itemprop="item">
      <span class="breadcrumbs__text" itemprop="name">О компании</span>
    </span>
    <meta itemprop="position" content="2" />
  </li>
</ul>