ul.breadcrumbs(itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList")
  li.breadcrumbs__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
    a.breadcrumbs__link(itemprop="item" href="#")
      span.breadcrumbs__text(itemprop="name") Главная
    meta(itemprop="position" content="1")

  li.breadcrumbs__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
    span.breadcrumbs__link(itemprop="item")
      span.breadcrumbs__text(itemprop="name") Внутренняя
    meta(itemprop="position" content="2")
