.pager
  a.pager__prev(href="#" disabled) Prev

  a.pager__link(href="#") 1
  a.pager__link(href="#") 2
  a.pager__link.pager__link--active(href="#") 3
  a.pager__link(href="#") 4
  span.pager__gap &hellip;
  a.pager__link(href="#") 120

  a.pager__next(href="#") Next
