<!doctype html>
<html lang="{{common.lang}}">
<head>
  {{#block "head"}}
    {{>head}}
  {{/block}}
</head>
<body>
  {{#block "header"}}
    {{#>header}}{{/header}}
  {{/block}}

  {{#block "content"}}

  {{/block}}

  {{#block "footer"}}
    {{#>footer}}{{/footer}}
  {{/block}}

  {{#block "scripts"}}
    {{>scripts}}
  {{/block}}
</body>
</html>
