<div class="pager">
  <a class="pager__prev" href="#" disabled="disabled">Prev</a>
  <a class="pager__link" href="#">1</a>
  <a class="pager__link" href="#">2</a>
  <a class="pager__link pager__link--active" href="#">3</a>
  <a class="pager__link" href="#">4</a>
  <span class="pager__gap">&hellip;</span>
  <a class="pager__link" href="#">120</a>
  <a class="pager__next" href="#">Next</a>
</div>

