@charset "UTF-8"

@import "base/base_style"
// @import "sprites/sprite"
@import "base"
@import "partial/fonts"

/************************************************************
/** BASE STYLES
/************************************************************/

site-width = 1000px
font-size-default = 14px
