@charset "UTF-8"

@import "base/config"
@import "base"
@import "base/base_style"
// @import "sprites/sprite"
@import "partial/fonts"

/************************************************************
/** BASE STYLES
/************************************************************/

$site-width = 1200px
$font-size-default = 16px

$color-error = red
$color-ib-def-focus = #6bc22b

body
  min-width $site-width
  font-size $font-size-default

.sect
  fixed-centered($site-width)

/************************************************************
/** INPUT BLOCK
/************************************************************/

.ib
  display block
  position relative

  &__placeholder
    position absolute
    left 0
    right 0
    top 0
    pointer-events none
    white-space: nowrap

  &__wrapper
    position relative
    display block

  &__input
    themed-input()
    width 100%
    border 0
    background: white
    outline 1px solid transparent
    qt outline

    &--error
      outline-color $color-error

    &:focus
      outline-color $color-ib-def-focus

    &:focus ~ .ib__placeholder
      display none

    &--dirty ~ .ib__placeholder
      display none

  &__error-text
    color: $color-error

/************************************************************
/** POPUPS
/************************************************************/

$popup-width = 406px

.fancybox-dpopup
  min-width $popup-width
  left 50% !important
  margin-left -($popup-width / 2)

  .fancybox-inner
    min-width $popup-width

  // .fancybox-close
  //   position absolute
  //   right: 20px
  //   top 20px
  //   icon(popup-close)
