.js-map {
  background: lightgray;

  &__map {
    height: 500px;
    background: lightgray;
  }

  &__point {
    display: none;
  }
}

.js-tabs--inited {
  .js-tabs__tab {
    display: none;
  }

  .js-tabs__tab--active {
    display: block;
  }
}
