if $option-responsive == true
  @-moz-viewport      { width: device-width; }
  @-ms-viewport       { width: device-width; }
  @-o-viewport        { width: device-width; }
  @-webkit-viewport   { width: device-width; }
  @viewport           { width: device-width; }

*, *:before, *:after
  -moz-box-sizing: border-box
  box-sizing: border-box

body
  line-height 1.2 // match Photoshop default line-height

p, h1, h2, h3, h4, h5, h6
  margin: 0

ul, ol
  semantic-list()

a
  color: inherit

em
  font-style: normal

figure
  margin: 0

input[type="search"]
  box-sizing border-box // override box-sizing set by normalize.css
  -webkit-appearance none // remove roundeded corners on iOS

label
  display inline-block

input, button, select, textarea
  line-height inherit

textarea
  resize vertical

th
  text-align inherit
  font-weight inherit

dd, dl
  margin 0

:disabled, [disabled], [aria-disabled="true"]
  cursor not-allowed

.nowrap
  white-space: nowrap

.hidden
  display none !important

/************************************************************
/** TABS
/************************************************************/

.tabs
  &__tab
    display: none

    html.no-js &
      display: block

    &--active
      display: block

/************************************************************
/** RATINGS CONTROL
/************************************************************/

.rate[data-readonly]
  cursor default

/************************************************************
/** TABLES
/************************************************************/

.table
  width 100%

/************************************************************
/** PRINTING STYLES
/************************************************************/

// from HTML5Boilerplate
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                               http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}