// supported browsers
$ie-support-min = 8 // minimal IE version to support
$firefox-support-min = 38  // can be latest supported Firefox ESR version
$presto-support = true  // support for latest Opera 12.xx (on Presto engine)

// defaults
$sprite-images-prefix = '../sprites/'
$transition-default = '.2s linear'
$transition-alt = '.2s ease-out'
$option-responsive = false
